<!-- <form (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="credentials.username"
      required
    />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="credentials.password"
      required
    />
  </div>
  <button type="submit">Login</button>
</form> -->

<form class="form form-login" (ngSubmit)="onSubmit()">
  <h1>Login</h1>

  <div class="mb-3">
    <label for="username" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      id="username"
      name="username"
      [(ngModel)]="credentials.username"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      [(ngModel)]="credentials.password"
      required
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
