<h2>Register</h2>
<form class="form form-register" (ngSubmit)="onSubmit()">
  <div class="md-3">
    <label for="username" class="form-label">Your Username:</label>
    <input
      type="username"
      id="username"
      name="username"
      [(ngModel)]="user.username"
      required
      class="form-control"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="md-3">
    <label for="email" class="" form-label>Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required
      class="form-control"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="md-3">
    <label for="password" class="" form-label>Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="user.password"
      required
      class="form-control"
    />
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
